<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Define all cli commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prooph-projection-delete" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionDeleteCommand\Proxy</item>
                <item name="prooph-projection-reset" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionResetCommand\Proxy</item>
                <item name="prooph-projection-run" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionRunCommand\Proxy</item>
                <item name="prooph-projection-run-all" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionRunAllCommand\Proxy</item>
                <item name="prooph-projection-stop" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionStopCommand\Proxy</item>
                <item name="prooph-projection-status" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionStatusCommand\Proxy</item>
            </argument>
        </arguments>
    </type>

    <!-- ServiceBus configuration -->
    <preference for="Prooph\ServiceBus\CommandBus" type="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\CommandBus"/>
    <type name="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\CommandBus">
        <arguments>
            <argument name="actionEventEmitter" xsi:type="object" shared="false">Prooph\Common\Event\ProophActionEventEmitter</argument>
        </arguments>
    </type>

    <preference for="Prooph\ServiceBus\EventBus" type="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\EventBus" />
    <preference for="Prooph\ServiceBus\Plugin\Router\EventRouter" type="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\EventRouter"/>
    <type name="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\EventBus">
        <arguments>
            <argument name="actionEventEmitter" xsi:type="object" shared="false">Prooph\Common\Event\ProophActionEventEmitter</argument>
        </arguments>
    </type>

    <preference for="Prooph\ServiceBus\QueryBus" type="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\QueryBus" />
    <type name="ReachDigital\ProophEventStore\Infrastructure\ServiceBus\QueryBus">
        <arguments>
            <argument name="actionEventEmitter" xsi:type="object" shared="false">Prooph\Common\Event\ProophActionEventEmitter</argument>
        </arguments>
    </type>

    <preference for="Prooph\Common\Messaging\MessageFactory" type="Prooph\Common\Messaging\FQCNMessageFactory"/>
    <preference for="Prooph\EventSourcing\Aggregate\AggregateTranslator" type="Prooph\EventSourcing\EventStoreIntegration\AggregateTranslator"/>

    <!-- Database Connection Setup -->
    <preference for="PDO" type="ReachDigital\ProophEventStore\Infrastructure\Pdo\Connection"/>

    <!-- EventStore Configuration -->
    <preference for="Prooph\EventStore\EventStore" type="ReachDigital\ProophEventStore\Infrastructure\EventStore\EventStoreProxy"/>

    <!--<type name="Prooph\EventStore\Upcasting\UpcasterChain">-->
        <!--<arguments>-->
            <!--<argument name="upcasters" xsi:type="array">-->
                <!--&lt;!&ndash; To implement your own upcaster see http://docs.getprooph.org/event-store/upcasting.html &ndash;&gt;-->
                <!--&lt;!&ndash;<item name="my-event-upcast" xsi:type="object">Prooph\EventStore\Upcasting\Upcaster</item>&ndash;&gt;-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->

    <type name="Prooph\EventStore\Pdo\MySqlEventStore">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo\Connection</argument>
            <argument name="persistenceStrategy" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\EventStore\MysqlSingleStreamStrategyProxy</argument>
        </arguments>
    </type>

    <type name="Prooph\EventStore\Pdo\MariaDbEventStore">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo\Connection</argument>
            <argument name="persistenceStrategy" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\EventStore\MariaDbSingleStreamStrategyProxy</argument>
        </arguments>
    </type>

    <!-- ShapshotStore Configuration -->
    <preference for="Prooph\SnapshotStore\SnapshotStore" type="Prooph\SnapshotStore\Pdo\PdoSnapshotStore"/>
    <type name="Prooph\SnapshotStore\Pdo\PdoSnapshotStore">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo\Connection</argument>
        </arguments>
    </type>


    <!-- Configuring the ProjectionManager -->
    <preference for="Prooph\EventStore\Projection\ProjectionManager" type="ReachDigital\ProophEventStore\Infrastructure\Projection\ProjectionManagerProxy"/>

    <type name="Prooph\EventStore\Pdo\Projection\MySqlProjectionManager">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo\Connection</argument>
            <argument name="eventStore" xsi:type="object">Prooph\EventStore\Pdo\MySqlEventStore</argument>
        </arguments>
    </type>

    <type name="Prooph\EventStore\Pdo\Projection\MariaDbProjectionManager">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo\Connection</argument>
            <argument name="eventStore" xsi:type="object">Prooph\EventStore\Pdo\MariaDbEventStore</argument>
        </arguments>
    </type>
</config>
