<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prooph-projection-delete" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionDeleteCommand</item>
                <item name="prooph-projection-names" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionNamesCommand</item>
                <item name="prooph-projection-reset" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionResetCommand</item>
                <item name="prooph-projection-run" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionRunCommand</item>
                <item name="prooph-projection-state" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionStateCommand</item>
                <item name="prooph-projection-stop" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionStopCommand</item>
                <item name="prooph-projection-stream-positions" xsi:type="object">ReachDigital\ProophEventStore\Console\Command\ProjectionStreamPositionsCommand</item>
            </argument>
        </arguments>
    </type>

    <preference for="Prooph\ServiceBus\CommandBus" type="ReachDigital\ProophEventStore\Infrastructure\CommandBus"/>
    <type name="ReachDigital\ProophEventStore\Infrastructure\CommandBus">
        <arguments>
            <argument name="actionEventEmitter" xsi:type="object" shared="false">Prooph\Common\Event\ProophActionEventEmitter</argument>
        </arguments>
    </type>

    <preference for="Prooph\ServiceBus\EventBus" type="ReachDigital\ProophEventStore\Infrastructure\EventBus" />
    <preference for="Prooph\ServiceBus\Plugin\Router\EventRouter" type="ReachDigital\ProophEventStore\Infrastructure\EventRouter"/>
    <type name="ReachDigital\ProophEventStore\Infrastructure\EventBus">
        <arguments>
            <argument name="actionEventEmitter" xsi:type="object" shared="false">Prooph\Common\Event\ProophActionEventEmitter</argument>
        </arguments>
    </type>

    <preference for="Prooph\ServiceBus\QueryBus" type="ReachDigital\ProophEventStore\Infrastructure\QueryBus" />
    <type name="ReachDigital\ProophEventStore\Infrastructure\QueryBus">
        <arguments>
            <argument name="actionEventEmitter" xsi:type="object" shared="false">Prooph\Common\Event\ProophActionEventEmitter</argument>
        </arguments>
    </type>

    <preference for="Prooph\EventStore\EventStore" type="Prooph\EventStore\Pdo\MySqlEventStore"/>
    <preference for="Prooph\Common\Messaging\MessageFactory" type="Prooph\Common\Messaging\FQCNMessageFactory"/>
    <preference for="Prooph\EventStore\Pdo\PersistenceStrategy" type="Prooph\EventStore\Pdo\PersistenceStrategy\MySqlSingleStreamStrategy"/>
    <preference for="Prooph\SnapshotStore\SnapshotStore" type="Prooph\SnapshotStore\Pdo\PdoSnapshotStore"/>
    <preference for="Prooph\EventSourcing\Aggregate\AggregateTranslator" type="Prooph\EventSourcing\EventStoreIntegration\AggregateTranslator"/>

    <type name="Prooph\EventStore\Pdo\MySqlEventStore">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo</argument>
        </arguments>
    </type>

    <type name="Prooph\SnapshotStore\Pdo\PdoSnapshotStore">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo</argument>
        </arguments>
    </type>

    <type name="Prooph\EventStore\Pdo\Projection\MySqlProjectionManager">
        <arguments>
            <argument name="connection" xsi:type="object">ReachDigital\ProophEventStore\Infrastructure\Pdo</argument>
        </arguments>
    </type>
</config>
